:root {
  --cor-azul-100: #215cc6;
  --cor-azul-150: #144fbb;
  --cor-azul-200: #18243a;
  --cor-amarelo-100: #fcca28;
  --cor-amarelo-150: #e0b31f;
  --cor-amarelo-200: #5e4b11;
  --cor-preto-100: #555;
  --cor-preto-150: #525252;
  --cor-preto-200: #222;
  --cor-branco-100: #fafafa;
  --cor-branco-300: #fff;

  --box-shadow: 1rem 1rem 1rem -0.5rem rgba(0, 0, 0, 0.16);
  --pop: cubic-bezier(0.6, -0.35, 0.35, 1.4);

  --spaco-1: 1rem;
  --spaco-1-5: 1.5rem;
  --spaco-2: 2rem;
  --spaco-2-5: 2.5rem;
  --spaco-5: 5rem;

  --font-size-titulo: 3.125rem;
  --font-size-subtitulo: 2.25rem;
  --font-size-link: 1.125rem;
  --font-size-paragrafo: 1rem;
  --font-size-tag: 0.875rem;
  --font-size-min: 0.75rem;
}
