.footer {
  padding: 2.5rem 0;
  background-color: var(--cor-azul-200);

  &__menu,
  &__copy {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 768px) {
      text-align: center;
      justify-content: center;
      gap: 1rem;
    }
  }

  &__copy {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding-top: 1rem;
    margin-top: 2rem;
    .copy__text {
      color: var(--cor-branco-100);
      opacity: 0.75;
    }
    .copy__designby {
      display: flex;
      align-items: flex-start;
      p {
        color: var(--cor-branco-300);
        opacity: 0.65;
        font-size: 0.75rem;
        margin-right: 1rem;
      }
      a {
        position: relative;
        transition: 450ms var(--pop);
        &:focus,
        &:hover {
          transform: scale(1.04);
          svg {
            path,
            circle {
              fill: var(--cor-amarelo-100);
            }
          }
        }
      }
    }
  }
}
